@import "~bootstrap/dist/css/bootstrap.min.css";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:rgb(17, 17, 17);
    margin: 0; padding: 0; /* Enlève les marges par défaut */
   
  
    height: 100vh; /* S'assure que le body prend toute la hauteur de la fenêtre */
    
    background-image: url('../img/background.jpg'); /* Définir l'image en background */
    background-size: cover; /* L'image couvre toute la page */
   
    background-repeat: no-repeat;
    
}
h1{
    color: rgb(255, 255, 255);
    align-items: center;
}


.nav-right{
    display: flex;
    justify-content: space-around;
    background-color:black;
}
.nav-right a{
    color: white;
    text-decoration: none;
}
.footer>p a{
    display: flex;
    text-align: center;
}
.p>a{
    display: flex;
    text-align: center;
}
